div {
  width: 90%;
  margin: auto;
  padding-bottom: 10px;
  border-radius: 9px;
  background-color: #1f1f30;
  color: whitesmoke;
  text-align: center;
}

table, td, th {
  border: none !important;
  border-radius: 9px;
  background-color: #323243;
  border-collapse: collapse;
  color: whitesmoke;
}

table {
  border: none !important;
  margin: auto;
  width: 85%;
  border-collapse: collapse;
  border-radius: 9px;
  overflow-x: auto;
}
  
th, td {
  border: none;
  padding: 8px;
}

input {
  margin: 20px;
  padding: 10px;
  width: 50%;
  color: whitesmoke;
  border-radius: 5px;
  border: 1px solid #323243;
  background-color: #323243;
}

button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #323243;
  background-color: #323243;
  color: whitesmoke;
  cursor: pointer;
}

/* Media query for small screens */
@media (max-width: 600px) {
  table {
    width: 100%;
  }

  input {
    width: 100%;
  }

  button {
    width: 100%;
  }
}
